@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5bf891;
  --secondary-text-clr: #b0b3c1;
}
*{
    margin: 0;
    padding: 0;
}
html{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: aliceblue;
    /* color: var(--text-clr); */
    display: grid;
    grid-template-columns: auto 1fr;
}


#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);
    position: sticky;
    top: 0;
    align-self: start;

    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}
#sidebar.close{
    padding: 5px;
    width: 60px;
}
#sidebar ul{
    list-style: none;
}
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }
}
#sidebar ul li.active a{
    color: var(--accent-clr);
    svg{
        fill : var(--accent-clr);

    }
}
#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}
.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.container{
  /* border: 1px solid var(--line-clr); */
  border-radius: 1em;
  margin-bottom: 0px;
  padding: min(3em, 15%);

  h2, p { margin-top: 1em }
  
}
.container h1{
    font-size: 45px;
    font-weight: 600;
}
#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr);

}
#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
     
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
  background-color: var(--hover-clr);
}
#sidebar .sub-menu{
    /* display: none; */
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    >div{
        overflow: hidden;
    }
}
#sidebar .sub-menu.show{
    /* display: block; */
    grid-template-rows: 1fr;
}
.dropdown-btn svg{
    transition: 300ms ease;
}
.rotate svg:last-child{
    rotate: 180deg;
}
#sidebar .sub-menu a{
    padding-left: 2em;
}
#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg{
        transition: rotate 150ms ease;
    }
}
#toggle-btn:hover{
    background-color: var(--hover-clr);
}





@media(max-width: 800px){
  body{
    grid-template-columns: 1fr;
  }
  .maindiv{
    padding: 2em 1em 60px 1em;
  }
  .container{
    border: none;
    padding: 0;
  }
  #sidebar{
    height: 60px;
    width: 100%;
    border-right: none;
    border-top: 1px solid var(--line-clr);
    padding: 0;
    position: fixed;
    bottom: unset;
    top: 0;

    > ul{
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }
    ul li{
      height: 100%;
    }
    ul a, ul .dropdown-btn{
      width: 60px;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }

    ul li span, ul li:first-child, .dropdown-btn svg:last-child{
      display: none;
    }

    ul li .sub-menu.show{
      position: fixed;
      top: 60px;
      left: 0;
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      background-color: var(--hover-clr);
      border-top: 1px solid var(--line-clr);
      display: flex;
      justify-content: center;

      > div{
        overflow-x: auto;
      }
      li{
        display: inline-flex;
      }
      a{
        box-sizing: border-box;
        padding: 1em;
        width: auto;
        justify-content: center;
      }
    }
  }
}

/* navbar */
.navbar{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--base-clr);
    height: 50px;
    /* width: 100%; */
    position: sticky;
    top: 0;
    
}
.navlogo i{
    color: var(--text-clr);
}
.navlogo{
    display: none;
}
.navbar ul{
    display: flex;
    gap: 30px;
    align-items: centre;
    padding-bottom: 20px;
}
.navbar ul li{
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: var(--text-clr);
}
.search{
    height: 27px;
    /* width: 900px; */
    padding-right: 3vw;
}
.navbar input{
    width: 100%;
    background: transparent;
    border: 2px solid var(--accent-clr);
    border-radius: 40px;
    outline: none;
    padding: 0 15px;
    height: 100%;
    font-size: 16px;
    color: var(--secondary-text-clr);
    /* padding-right: 10px; */
    /* margin-right: 700px; */

}
.search label{
    position: absolute;
        top: 29px;
    left: 39px;
    color: var(--text-clr);
    text-transform: capitalize;
    font-size: 15px;
    transition: top .3s;
    padding: 0 5px;
}
.search input:focus ~ label{
    top: 9px;
    background-color: var(--base-clr);
}

@media(max-width:800px){
    .navbar{
        width: 9%;
        height: 35px;
        top: 4px;
        right: -75%;
        margin-left: 77%;
        margin-top: -28px;
            justify-content: flex-end;

    }
    .search label{
        display: none;
    }
    .navbar ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: var(--base-clr);
        gap: 0;
        overflow: hidden;
        padding-bottom: 0;
    }
    .navbar ul li{
        padding: 20px;
        padding-top: 0;
    }
    .navlogo{
        display: block;
        padding-right: 0%;
    }
}



/* image container design */
.imgcontainer{
    place-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    
}
.imgcontainer img{
    width: 99%;
    /* height: 450px; */
    aspect-ratio: 2/3;
    box-shadow: 0 7px 15px 1px rgba(0, 0, 0, 0.5);
    transition: all 1.1s;
    overflow: hidden;
}


/* Post container Design */
.post{
    border: solid black 2px;
    height: 50px;
}
.post-container{
    padding: 7%;
}

/* scroll to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px; 
  z-index: 99;
  border: none; 
  outline: none;
  background-color: var(--base-clr);
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  padding-bottom: 10px;
  border-radius: 100%; 
  font-size: 18px;
  /* border: 8px solid #555; */
}

#myBtn:hover {
  background-color: #555;
}

/* FOOTER */
.footer a{
    text-decoration: none;
    color: var(--accent-clr);
}
.footer a:hover{
    text-decoration: underline;
}
.footer li{
    list-style: none;
}
.footer {
  place-content: center;
  position: relative;
  left: 0;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: var(--base-clr);
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(127px, 1fr));
  grid-gap: 10px;
}
.footer img{
    width: 50px;
}


/* Login Page */
.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    padding-right: 45px;
    /* background: var(--secondary-text-clr); */
    border-radius: 10px;
    /* box-shadow: 0 0 10px var(--secondary-text-clr); */
    /* margin: auto; */
    background-color: white;
}
.form-box h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
.form-box input{
    padding: 12px;
    width: 100%;
    background: rgb(231, 231, 231);
    border-radius: 8px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    font-size: 16px;

}
.form-box button{
    width: 105%;
    padding: 12px;
    background-color: var(--accent-clr);
    cursor: pointer;
    color: var(--text-clr);
    font-size: 16px;
    transition: 0.25s;
    font-weight: 500;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
}
.form-box button:hover{
    background-color: #016ea0;
    /* font-size: 18px; */
}
.form-box p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}
#subheading{
    color: #7d7f8b;
}
.form-box a{
    color: var(--accent-clr);
    text-decoration: none;
}
.form-box a:hover{
    text-decoration: underline;
}
.logincontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}




/* post - section */
.post{
    width: 100%;
    height: 120vh;
    /* background-color: yellowgreen; */
    overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .post {
    height: 73vh; /* Taller height on larger screens */
  }
}

.post .story .items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 12px;
    font-weight: 200;
}

.post .story{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.post .story .items .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post .story .items .profile .img{
    background-image: conic-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #feda75);
    padding: 2px;
    border-radius: 50%;
    display: inline-block;
}

.post .story .items .profile .img img{
 height: 60px;
 width: 60px;
 border-radius: 50%;
 object-fit: cover;
 display: block;
 padding: 3px;
}

.post .main_post{
    height: 75vh;
    width: 90%;
    margin: auto;
}

.post .main_post .profile{
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.post .main_post .profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
    background-image: conic-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #feda75);
}

.post .main_post .img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post .main_post .img img{
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.post .main_post .engagement{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post .main_post .engagement .material-symbols-outlined{
    font-size: 1.8rem;
}

.post .main_post .engagement .left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.like-button{
    cursor: pointer;
    color: rgb(255, 67, 67);
    font-size: 28px;
}
.like-animation{
    animation: like 600ms cubic-bezier(0,0,0.2,1);
}
@keyframes like{
    50%, 75%{
        transform: scale(2);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }

}